:root {
  --common-border: 2px solid gray;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

/*Grid Cotainer*/
.grid-container {
  display: grid;
  grid-template-columns: 50px 1fr;
}
header {
  grid-column: 1/3;
}
nav {
  grid-column: 1/2;
}
main {
  grid-column: 2/3;
}

/*Header*/
.header-container ul {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
}

.bell {
  width: 20px;
}
h1.inline span {
  font-weight: normal;
}
.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/*Nav*/
.nav-container {
  background-color: blue;
  height: 100%;
}
.icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 10px;
}

/*Main*/
.main-container {
  display: grid;
  grid-template-columns: 650px 650px;
}
.main-container > div:not(.main-header) {
  padding: 25px;
}
h3 {
  margin-bottom: 15px;
}
.main-header {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
}
.main-header h2 {
  padding: 15px 20px;
}
.main-search {
  padding: 10px 25px;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  border-left: var(--common-border);
  border-bottom: var(--common-border);
}
.search-box {
  width: 40%;
  padding-left: 10px;
  border-radius: 5px;
}

.traffic {
  grid-column: 1/3;
  border-bottom: var(--common-border);
}
.traffic-header ul,
.traffic-header {
  display: flex;
  flex-direction: row;
}
.traffic-header ul {
  margin-left: auto;
}
.traffic-header li {
  margin-left: 25px;
}
.traffic-header li:last-child {
  padding-right: 16px;
}

.daily-traffic {
  grid-column: 1/2;
  border-right: var(--common-border);
}

.mobile-user {
  grid-column: 2/3;
}

.social-stats {
  grid-column: 1/3;
  border-top: var(--common-border);
  border-bottom: var(--common-border);
}
.social {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: blue;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
}
.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}
.social-container li {
  border: 2px solid grey;
  padding: 10px 30px 10px 15px;
  display: flex;
  flex-direction: row;
}
.social-count {
  font-size: 2rem;
}

.new-member {
  grid-column: 1/2;
  border-bottom: var(--common-border);
  border-right: var(--common-border);
}
.member {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}
.member > p {
  margin-left: auto;
}
.new-member > div:not(:last-child),
.recent-activity > div:not(:last-child) {
  border-bottom: var(--common-border);
}
.member-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.recent-activity {
  grid-column: 2/3;
  border-bottom: var(--common-border);
}

.message {
  grid-column: 1/2;
  border-right: var(--common-border);
}
.search,
.mesz,
.button,
.select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 0 20px;
}
.search,
.button,
.select {
  height: 45px;
}
.mesz {
  height: 140px;
  padding-top: 15px;
}

.setting {
  grid-column: 2/3;
}
.toggle-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.toggle-label p {
  padding-top: 5px;
}
.toggle-label p + p {
  margin-top: 45px;
}
.toggle label + label {
  margin-top: 35px;
  margin-bottom: 46px;
}
.toggle {
  margin-left: 35px;
}
.set-btn-cont button {
  width: 48%;
  height: 45px;
  border-radius: 5px;
}
.set-btn-cont button + button {
  margin-left: 20px;
}
